header {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('assets/pexels-lisa-fotios-1453499.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
}

